html, body {
  margin: 0px;
  counter-reset: step;
}

.steps {
  display: flex;
  justify-content: space-around;
}

.steps .step {
  width: 100%;
  text-align: center;
  position: relative;
}

.steps .step::before {
  content: counter(step);
  color: #aaa;
  counter-increment: step;
  display: block;
  width: 10%;
  padding: 5%;
  margin: 5% auto;
  border: 2px solid #aaa;
  border-radius: 100%;
}

.steps .step::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 60%;
  width: 78%;
  border: 1px solid #aaa;
}

.steps .step.success::before, .steps .step.success::after {
  border-color: #0a0;
  color: #0a0;
}

.steps .step:last-child::after {
  border: 0px;
}
