$color-success: #0a0;
$color: #aaa;
$line-top: 35%;
$line-left: 60%;
$line-width: 78%;
$line-border-width: 1px;
$circle-width: 10%;
$circle-padding: 5%;
$circle-margin: 5%;
$circle-radius: 100%;
$circle-border-width: 2px;

html, body{
    margin: 0px;
    counter-reset: step;
}

.steps{
    display: flex;
    justify-content: space-around;
    .step{
        width: 100%;
        text-align: center;
        position: relative;
        &::before{
            content: counter( step );
            color: $color;
            counter-increment: step;
            display: block;
            width: $circle-width;
            padding: $circle-padding;
            margin: $circle-margin auto;
            border: $circle-border-width solid $color;
            border-radius: $circle-radius;
        }
        &::after{
            content: "";
            position: absolute;
            top: $line-top;
            left: $line-left;
            width: $line-width;;
            border: $line-border-width solid $color;
        }
        &.success{
            &::before, &::after{
                border-color: $color-success;
                color: $color-success;
            }
        }
        &:last-child{
            &::after{
                border: 0px;
            }
        }
    }
}